.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navbar ul#nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nav-list .nav-link {
    margin: 0 5px;
}
article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container-calendar {
    border-radius: 25px;
    padding: 15px;
    padding-top: 5px;
    color: black;
    text-align: center;
    width: 300px;
    border: 3px solid black;
}
.button-container-calendar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.button-container-calendar button{
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
}
.table-calendar td, .table-calendar th {
    padding: 5px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: top;
}
.table-calendar{
    width: 300px;
}

.date-picker.selected {
    background-color: rgb(134, 248, 134);
}

.date-picker.selected span {
    border-bottom: 2px solid black;
}
@media (max-width:760px) {
article {
    flex-direction: column;
}
    
}